@import "../assets/fonts/volte/stylesheet.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Volte";

    --primary-color : #55236C;
    --primary-color : #361745;
    --primary-complement : #AADC93;
    --secondary-color: #9E4EEF;
    --secondary-color-2: rgb(110, 54, 167);

    --whitish : rgb(215, 215, 215);
}

body{
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: var(--whitish);
}

.sec_1{
    padding: 50px 100px;
}

.sec_2{
    padding: 20px 50px;
    /* background: red; */
}

#nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--primary-complement);
}