#currentandgraph{
    /* background: red; */
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 50px;

}

#current_wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#current_weight{
    font-size: 250px;
    color: var(--secondary-color);
    font-weight: 500;
    /* background: red; */
}

#current_weight span{
    font-size: 30px;
}

#current_average{
    color: var(--secondary-color-2);
    position: relative;
    top: -60px;
}

#graph_wrapper{
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    padding: 30px;
}

#quick_stats_wrapper, #entries_wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.quick_stat{
    padding: 0px 20px;
    width: fit-content;
}

.ew_div{
    padding: 0px 10px;
    width: fit-content;
}

.quick_stat p{
    border-radius: 20px;    
    padding: 15px 30px;
    background: rgba(0,0,0,0.1);
}

.ew_div p{
    border-radius: 10px;    
    padding: 15px 30px;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

#all_entries p{
    box-shadow: 0px 0px 2px 2px var(--primary-complement);
}

#new_entry p{
    background: var(--primary-complement);
    color: black;
}


#weight_chart{
    width: 100%;
}